.container {
  display: flex;
  height: 100vh;
  overflow: auto;
}

.splitbig {
  width: 75%;
  padding: 30px;
}

.splitsmall {
  width: 25%;
  padding: 80px 30px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}

.v1 {
  border-left: 8px solid green;
  height: auto;
  position: auto;
  margin-left: -6px;
}

.v2 {
  border-left: 1px solid gray;
  height: auto;
  position: auto;
  margin-left: -5px;
}

.bigfont {
  font-size: 25px;
  color: green;
  font-weight: bold;
  padding-left: 10px;
}

.biggerfont {
  font-size: 35px;
  color: green;
  font-weight: bold;
  padding-left: 15px;
  padding-top: 30px;
  font-style: italic;
}

.descrip {
  font-size: 15px;
  font-weight:600;
  color: black;
  padding-left: 25px;
}

.smallfont {
  font-size: 15px;
  font-weight: bold;
  color: black;
}

a:link {
  color: black;
}

a:active {
  color: black;
}

a:hover {
  color: green;
  text-decoration: underline;
}

a:visited {
  color: black;
}
